* {
    margin: 0;
    padding: 0;
  }
  
  body, html {
    overflow-x: hidden;
    background-color: lightgray;
  }
  
  nav {
    width: 100%;
    padding: 30px 100px;
    background: lightblue;
    
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li, i {
    list-style: none;
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 30px;
    border: 2px solid black;
  }
  
  nav ul li a:hover, nav ul li a.active {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .footer-container {
    width: 100%;
    background-color: lightblue;
    text-align: center;
  }
  
  .socials i {
    font-size: 30px;
    color: black;
  }
  
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
