* {
    margin: 0;
    padding: 0;
  }
  
  body, html {
    overflow-x: hidden;
    background-color: lightgray;
  }
  
  nav {
    width: 100%;
    padding: 30px 100px;
    background: lightblue;
    
  }
  
  nav ul {
    display: flex;
  }
  
  nav ul li, i {
    list-style: none;
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    border-radius: 30px;
    border: 2px solid black;
  }
  
  nav ul li a:hover, nav ul li a.active {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .footer-container {
    width: 100%;
    background-color: lightblue;
    text-align: center;
  }
  
  .socials i {
    font-size: 30px;
    color: black;
  }
  
  footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  /*about page*/
  
  .grid{
    max-width: 80%;
    margin:80px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
  }
  .article3{
    grid-column: 1/3
  }
  .beef{
    margin: 30px 90px;
    text-align: center;
    font-size: 24px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
  
  }
  article{
    text-align: center;
    font-size: 20px;
  }
  .grid2{
    max-width: 90%;
    margin: 50px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
  }
  .grid-image2{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
  }
  .pork{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px 10px;
    line-height: 1.5em;
    
  
  }
  .grid-card2{
    border: 5px solid lightblue;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 20px;
    background-color: lightblue;
  }
  
  
  /*transportation page */
  
  .transport {
    background-image: url("transportationBlurred.png");
  }
  .car {
    width:40%;
    height:auto;
    position: fixed;
    top: 35%;
    right: 8%;
  }
  
  .carButton {
    border-radius: 10px;
    padding: 25px;
  }
  
  .carButton:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }
  
  .carForm {
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 8%;
  }
  
  input {
    padding: 25px;
    border-radius: 10px;
  }
  
  .tInfo {
    inline-size: 550px;
    overflow-wrap: break-word;
    margin-top: 10%;
    margin-left: 8%;
  }
  
  .tHead, .tHead p{
    margin-top: 8%;
    margin-left: 8%;
    font-size: 3.5em;
  }
  
  .material-icons {
    color: black;
  }
  
  /*child care page*/
  
  .number {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap:2em;
   padding:20px;
  }
  
  .five{
  font-size: 24px;
  text-align: center;
   border-radius: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    margin: 30px 100px;
  }
  
  .six{
    text-align: center;
    margin: 30px 80px;
    font-size: 20px;
  }
  
  .seven{
     text-align: center;
    margin: 30px 200px;
      font-size: 20px;
  }
  
  .signupbutton{
    border-radius: 10px;
    padding: 12px 20px;
  }
  
  .eight{
   background-color: lightgrey;
   text-align: center;
   border-radius: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px; 
  }
  
  .nine{
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px; 
  }
  
  li{
  margin:30px;
  }
  
  /* homepage slider */
  /* slideshow */
  #outerbox {
      width: 700px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
  }
  
  #sliderbox {
      position: relative;
      width: 2800px;
      animation: slide;
      animation-duration: 20s;
      animation-iteration-count: infinite;
  }
  
  #sliderbox img {
      float: left;
  }
  
  @keyframes slide {
      0% {
          left: 0px;
      }
  
      20% {
          left: 0px;
      }
  
      25% {
          left: -700px;
      }
  
      45% {
          left: -700px;
      }
  
      50% {
          left: -1400px;
      }
  
      70% {
          left: -1400px;
      }
  
      75% {
          left: -2100px;
      }
  
      95% {
          left: -2100px;
  
      }
  
      100% {
          left: -2800px;
  
      }
  }